################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/ToDoService/bin
/ToDoService/obj/Debug
